
@{
    @model List<EntitiesStandart.Products>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductList</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio Unitario</th>
            <th>Unidades en existencias</th>
        </tr>
        @foreach (var Product in Model)
        { 
            <tr>
                <td>@Html.ActionLink(Product.ProductID.ToString(),
                    "Details", new { id = Product.ProductID })</td>
                <td>@Product.ProductName</td>
                <td>@Product.UnitPrice</td>
                <td>@Product.UnitsInStock</td>
            </tr>
        }
    </table>
</body>
</html>
